.add-distraction-form
  color dimgray
  margin-top 2em
  input
    border-bottom 2px solid silver
    background transparent
    color silver
    font-size 1.3em
  ol
    &.distractions-ol
      li
        font-family "inconsolata", "monaco", "courier new", monospace
        color rgba(128,128,128,0.4)

        &:hover
          color rgba(128,128,128,0.6)
