// Import all partials
@require './_*.styl'


@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");html
  font-family sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  margin 0
  font-family "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size 15px
  line-height 1.42857143
  color #ffffff
  background-color #222222

  ol
    &.activities-ol
      font-family "inconsolata", "monaco", "courier new", monospace

  input
    &.form-control
      height 1.4em
      padding 0.05em
      border-radius 0
      background-color transparent
      color chartreuse
      font-size 1.2em
      border-bottom 1px solid dimgray

  .fullscreen-mid-pomodoro
    padding 0 1em
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0,0,0,0.8)
    h1.current-activity
      size 2.5em !important
      color greenyellow
    .elapsed
      font-size 4em
      line-height 80%

  .timer-wrapper
    margin 0 auto

  span
    &.seconds
      font-size 0.5em
    &.activity-key
      margin: 0 0.5em
      font-size: 0.8em
      color: dimgray
    &.activity-text
      text-transform uppercase
      font-weight bold
      margin 0 1em;
  a
    &.delete-link
      margin 0 1em
  a
    &.start-pomodoro
      border-bottom 1px solid thistle
      margin 0 1em
      text-transform uppercase

  .distractions-wrapper
    margin-top 2em
    ol
      &.distractions-ol
        li
          font-family "inconsolata", "monaco", "courier new", monospace
          color rgba(128,128,128,0.4)

          &:hover
            color rgba(128,128,128,0.6)
