// Import all partials
@require './_*.styl'


@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");html
  font-family sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  margin 0
  font-family "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size 15px
  line-height 1.42857143
  color #ffffff
  background-color #222222

  ol
    &.activities-ol
      font-family "inconsolata", "monaco", "courier new", monospace

  form
    &.form-inline
      .input-group
        span
          &.input-group-addon
            position relative
            right -2.2em
            bottom 0.5em
            background none
        input
          &.form-control
            height 1.4em
            padding 0.05em
            border-radius 0
            padding-left 1.2em
            background-color transparent
            color chartreuse
            font-size 1.2em
            border-bottom 1px solid dimgray

  .fullscreen-mid-pomodoro
    padding 0 1em
    position fixed
    z-index 50
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0,0,0,0.8)
    .current-activity
      font-family 'roboto condensed'
      font-size 4.5em
      font-weight bold
      color greenyellow
    .elapsed
      font-size 5em
      line-height 80%
    section.elapsed-counter
      margin: 1em 0

  .timer-wrapper
    margin 0 auto

  span
    &.seconds
      font-size 0.5em
    &.activity-key
      margin: 0 0.5em
      font-size: 0.8em
      color: dimgray
    &.activity-text
      text-transform uppercase
      font-weight bold
      margin 0 1em;
  a
    &.delete-link
      margin 0 1em
  a
    &.start-pomodoro
      border-bottom 1px solid thistle
      margin 0 1em
      text-transform uppercase

  .distractions-wrapper
    margin-top 2em
    ol
      &.distractions-ol
        li
          font-family "inconsolata", "monaco", "courier new", monospace
          color rgba(128,128,128,0.4)

          &:hover
            color rgba(128,128,128,0.6)
