// Import all partials
@require './_*.styl'


@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");html
  font-family sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  margin 0
  font-family "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size 15px
  line-height 1.42857143
  color #ffffff
  background-color #222222
  a
    color #0ce3d1

  h1
    &.logo
      margin 0
      margin-bottom 1em
      img
        &.tiny-tomato
          position relative
          right -1em
        &.logo-title
          display inline

  ol
    &.activities-ol, &.done-ol
      color primaryText
      margin 0
      font-family "inconsolata", "monaco", "courier new", monospace
      font-family "lato", "monaco", "courier new", monospace
    li
      &.li-activity-outer-wrapper
        position static
        //z-index -1
      margin 0.3em 0
      span
        &.li-activity-wrapper
          position static
        //  position relative
          //top 50%
          //transform translateY(50%)
      span
        &.activity-start
          position relative
          top 0.8em
          cursor pointer
          cursor hand

  a
    &.start-pomodoro
      cursor pointer
      cursor hand
      i
        &.fa
          color primaryAccent
          font-size 3em
          &:hover
            -webkit-animation neon4 1.5s ease-in-out infinite alternate
            -moz-animation neon4 1.5s ease-in-out infinite alternate
            animation neon4 1.5s ease-in-out infinite alternate
  form
    button
      &.btn.btn-default.submit-task
        display inline
        background rgba(255,255,255,.1)
        border-radius 0
        border none
    &.form-inline
      .input-group
        span
          // this is the PENCIL ICON
          &.input-group-addon
            font-size 1.8em
            color primaryAccent
            position relative
            right -2.2em
            bottom 1.0em
            background none
        input
          &.form-control
            //display inline
            height 1.4em
            padding 0.05em
            border-radius 0
            padding-left 1.4em
            background-color transparent
            color primaryAccent
            color primaryText
            font-size 2.2em
            border-bottom 1px solid dimgray

  .fullscreen-mid-pomodoro
    padding 0 1em
    //height 1800px
    position fixed
    z-index 500
    top 0
    right 0
    bottom 0
    left 0
    width 100%
    height 100%
    background-color rgba(0,0,0,0.5)
    .current-activity
      font-family 'roboto condensed'
      font-size 2.5em
      font-weight bold
      color greenyellow
    .elapsed
      font-size 5em
      line-height 80%
    section.elapsed-counter
      margin: 1em 0

  .timer-wrapper
    margin 0 auto

  span
    &.seconds
      font-size 0.5em
    &.activity-key
      margin 0 0.5em
      font-size 0.8em
      color dimgray
    &.activity-text, &.done-text
      font-size 1.4em
      //text-transform uppercase
      font-weight bold
      margin 0 0.2em;
    &.activity-status
      margin 0 1em
      text-transform italic
      color dimgray
      font-size 0.7em
    &.activity-delete
      color dimgray
      i
        &.fa
          color dimgray
          font-size 1.5em
          margin 0 0.5em
  a
    &.delete-link
      margin 0 1em
  button
    &.timer-control
      background-color transparent
      color white
      //border-bottom 1px solid thistle
      margin 0 1em
      text-transform uppercase
      &:active
        //outline black
      &:focus, &:active
        outline none
        border none
        color aqua

  .distractions-wrapper
    margin-top 2em
    ol
      &.distractions-ol
        li
          font-family "inconsolata", "monaco", "courier new", monospace
          color rgba(128,128,128,0.4)

          &:hover
            color rgba(128,128,128,0.6)


  .done-wrapper
    .done-header
      img
        margin-top 2em
    h4
      margin 2em 0 1em 0
    ol
      &.done-ol
        i
          &.done-icon
            margin 0
